{% extends 'base.html' %}
{% load static %}

{% block title %}about{% endblock title %}

{% block content %}

    <div class="about">
    <div class="container mt-5 about">
        <img src="{% static 'assets/myphoto.jpg' %}"  class="rounded-circle float-center">
        <h3>Audrey Annisa Datau</h3>
        <p>My name is Audrey Annisa Datau and you can call me 
                Audrey. I was born <br> and grew up  in Jakarta, Indonesia.
                 I am a hardworking and punctual individual<br> with passion
                for technology. I work well in team and also on my own. <br> 
                I am well organized and love to make plans about things 
                that i will do.
        </p> 
    </div>
    </div>

    <div class="wrapper">
            <div class="accordion active activity">
              <div class="accordion_tab active">
                  Activity
                  <div class="accordion_arrow">
                    <img src="https://i.imgur.com/PJRz0Fc.png" alt="arrow">
                </div>
              </div>
              <div class="accordion_content">
                <div class="accordion_item">
                  <p class="item_title">Teaching Assistant for Programming Foundation 1</p>
                  <p>
                   <strong>Universitas Indonesia
                    <br> September 2019 - present</strong>
                    <br> Help and make students comfortable with programming, arranging tutorial problems, scoring students tutorial and assignments.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion experience">
              <div class="accordion_tab">
                  Experience
                  <div class="accordion_arrow">
                    <img src="https://i.imgur.com/PJRz0Fc.png" alt="arrow">
                </div>
              </div>
              <div class="accordion_content">
                <div class="accordion_item">
                  <p class="item_title">BEM Fasilkom UI</p>
                  <p>
                    <strong>Public Relations Staff
                         <br> February 2019 - December 2019 </strong>
                         <br> Maintain the publication of BEM Fasilkom UI in social media  and be a liason between
                         <br> BEM & external parties both inside and outside faculty.
                       </p>
                </div>
                <div class="accordion_item">
                  <p class="item_title">COMPFEST</p>
                  <p>
                    <strong>Marketing Staff
                    <br> March 2019 - September 2019 </strong>
                    <br> Maintain all social media of COMPFEST. 
                </p>
                </div>
                <div class="accordion_item">
                    <p class="item_title">CROPS PATRIOTS</p>
                    <p>
                    <strong>Vice Project Officer
                    <br> April 2017</strong>
                    <br> Be the right handman for the project officer.
                </p>
                </div>
              </div>
            </div>
            <div class="accordion achievment">
              <div class="accordion_tab">
                  Achievment
                  <div class="accordion_arrow">
                    <img src="https://i.imgur.com/PJRz0Fc.png" alt="arrow">
                </div>
              </div>
              <div class="accordion_content">
                <div class="accordion_item">
                  <p class="item_title">PPI 2016</p>
                  <p>Became one of the students who had served as a member of National Flag Hoisting Troop on the commemoration of the Republic of Indonesia's Independence Day at the city level.</p>
                </div>
              </div>
            </div>
          </div>
    
  {% endblock content %}
