{% extends 'base.html' %}
{% load static %}

{% block title %}books{% endblock title %}

{% block content %}
<div class="allcontent">
        <form method="GET" class="form" action="volumes">
            {% csrf_token %}
         <div class="form-group">
            {% if user.is_authenticated %}
            <label for="status" class="labelsearch">Hey {{ request.user.first_name }}, search books that you want to know the details!</label>
            {% else %}
            <label for="status" class="labelsearch">Search Books</label>
            {% endif %}
     
             <input type="text" class="form-control"  id="searchfield" placeholder="search your books" name="searchfield">
         </div>
         <button type="submit" class="btn btn-primary" id='submit'>Search</button>
        </form>
    </div>

    <div class="container mt-5">
      <h1 class="keyword-results">Results</h1>
    </div>

    <div id="book-results-table" class="table-responsive">
        <div class="container mt-5">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th class="align-middle" scope="col">No.</th>
              <th class="align-middle" scope="col">Book Information</th>
              <th class="align-middle" scope="col">Cover</th>
            </tr>
          </thead>
          <tbody id="results">
          </tbody>
        </table>
      </div>
    </div>
{% endblock content %}
{% block custom_scripts %}
<script src="{% static 'js/books.js' %}"> </script>
{% endblock custom_scripts %}
