{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- menambahkan icon -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

         <!-- menghubungkan dengan css dan bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="Stylesheet" href="{% static 'css/status.css' %}">

        <!-- membuat icon judul website-->
        <link rel="icon" href="{% static 'assets/title.png' %}" type="image/icon">

        <!-- menggunakan jenis font yang sesuai -->
        <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="{% static 'js/status.js' %}"> </script>


    </head>

    <body>
    
    <div id="navbarcolor">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#"><img src="{% static 'assets/title.png' %}" width="20" height="20"></a>
        
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'status:status' %}" id="text-nav-status">Status</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="{% url 'about:about' %}" id="text-nav-about">About</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="{% url 'books:books' %}" id="text-nav-books">Books</a>
            </li>
            
        
            <!-- Dropdown -->
            <li class="nav-item dropdown">
            <a id="text-nav-theme" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Change Theme
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item"  onclick="changeThemeGreen()">Green</a>
                <a class="dropdown-item"  onclick="changeThemeMonochrome()">Monochrome</a>
            </div>
            </li>
            <div id="log-button" class="nav-item mx-2 my-2 my-md-0">
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'authentication:SignOut' %}" id="text-nav-oauth">Sign Out</a>
                {% else %}
                <a class="btn btn-primary" href="{% url 'authentication:SignIn' %}" id="text-nav-oauth">Sign In</a>
                {% endif %}
            </div>
        </ul>
        </nav>
    </div>

    {% block content %}
    {% endblock %}
    
    {% block custom_scripts %}
    {% endblock custom_scripts %}

  
    </body>
</html>