{% extends 'base.html' %}

{% block title %}status{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <h2>Hey {{ request.user.first_name }}, how are you?</h2>
    {% else %}
    <h2>Hey, how are you?</h2>
    {% endif %}

   <div class="allcontent">
   <form method="POST" class="form">
       {% csrf_token %}
    <div class="form-group">
        <label for="status" class="labelstatus">status </label>
        <input type="text" class="form-control"  id="statusfield" placeholder="fill with your status" name="statusfield">
    </div>
    <button type="submit" class="btn btn-primary" id='submit'>Submit</button>
   </form>
    </div>

    <div class="table_data" id="table_data">
    <div class="container mt-5">
    <h3>List of status</h3>
    <table class="table table-hover" id="table">
    <thead>
    <tr>
        <th scope="col">No</th>
        <th scope="col">Status</th>
        <th scope="col">Date/time</th>
    </tr>
    </thead>
    <div class="contentstatus">
        <tbody>
        {% for s in all_status %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ s.statusfield }}</td>
                <td>{{ s.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </div>
    </table>
    </div>
    </div>

{% endblock content %}